body{
    font-size: 18px;
    line-height: 1.42;
}

.title-block {
    font-size: 22px;
}

.box-title {
    font-size: 18px;
    margin: 10px;
}

.content-wrapper>.content {
    min-height: 250px;
    padding: 15px 15px;
    margin-right: auto;
    margin-left: auto;
}
.form-group {
    padding: 20px;
}

.breadcrumb-item+.breadcrumb-item::before{
    content: '>';
}

.breadcrumb{
    font-size: 12px;
}

li.breadcrumb-item>a {
    color: black;
}

.main-sidebar {
    border-right: 1px solid #d2d6de;
    position: fixed;
    top: 20px;
}
.navbar {
    padding: 0;
    /*position: fixed;*/
}
.expand {
    border-right: 1px solid #d2d6de;
}
a.nav-link.expand{
    padding: 15px 15px;
}
a.brand-link {
    position: fixed;
    top: 0px;
}

.top-bar{
    padding: 15px 15px;
}
.sidebar{
    padding: 0;
    position: fixed;
}
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color: #e1f1ea;
    color: black;
    font-size: 17px;
    line-height: 1.42;
    box-shadow: none;

}
.nav-link{
    display: block;
    padding: 12px 5px 12px 28px;
}
.nav-sidebar .nav-item>.nav-link{
    margin-bottom: 0;
}
.nav-pills .nav-link {
    border-radius: 0;
    position: fixed;
    top: 50px;
}
