{% load static %}

<div class="navbar ">
    <div class="container d-flex justify-content-between">
        <div class="navbar-brand">
            <a href="/"><img src="{% static 'logo/logo.svg' %}" style="width: 145px; max-height: 40px"></a>
        </div>
        <div class="d-flex">
            <ul class="nav navbar-nav navbar-right"></ul>
                <a href="{% url 'website:index' %}" {% if request.path == '/' %}class="active"{% endif %}>Главная</a>
                <a href="{% url 'website:about' %}" {% if request.path == '/about/' %}class="active"{% endif %}>О нас</a>
                <a href="{% url 'website:services' %}" {% if request.path == '/services/' %}class="active"{% endif %}>Услуги</a>
                <a href="https://avada-media.ua/myhouse24/">Условия приобретения</a>
                <a href="{% url 'website:contacts' %}" {% if request.path == '/contacts/' %}class="active"{% endif %}>Контакты</a>
                <a href="{% url 'personal_cabinet:user_login' %}"><i class="fas fa-sign-in-alt"></i>Вход</a>
            </ul>
        </div>
    </div>
</div>