.vscode

.idea

venv

media

myhome24/__pycache__

apps/admin_panel/__pycache__

apps/admin_panel/views/__pycache__

apps/admin_panel/forms/__pycache__

apps/admin_panel/forms/manage_site/__pycache__

apps/admin_panel/models/__pycache__

apps/admin_panel/models/manage_site/__pycache__

apps/admin_panel/migrations/__pycache__

apps/personal_cabinet/__pycache__

apps/personal_cabinet/migrations/__pycache__

apps/register/__pycache__

apps/register/migrations/__pycache__

apps/website/__pycache__

apps/website/models/__pycache__

apps/website/migrations/__pycache__



