/*html tag with height to all screen*/
html {
    position: relative; /* position with save block */
    min-height: 100%; /* min size of html block */
}
/*body tag*/
body {
    padding-top: 50px; /* padding-top 50 px */
    margin-bottom: 60px; /* margin-bottom 60 px */
}

h1, h2, h3 {
    font-size: 24px; /*h1-h6 tags with font-size 24px and margin*/
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px; /* h1-h3 nags margin-top = 20px */
    margin-bottom: 10px; /* h1-h3 nags margin-bottom = 10px */
}
/*h1-h6 tags end*/

/*title of each block in website*/
.page-header {
    padding-bottom: 9px; /* 9px from the top of page-header */
    margin: 40px 0 20px; /* margin top = 40px / right/left = 0 / button = 20px*/
    border-bottom: 1px solid #eeeeee; /* border-bottom 1px width, line, white */
}
/*title end*/

/*slider image*/
.slider img {
    width: 100%; /* width to all block size */
    height: 800px; /* height 800px */
    object-fit: cover; /* object-fit to max width of image */
}
/*slider end*/

/* Breadcrumb settings*/
.breadcrumb {
    background-color: #fff; /* back color = white */
    padding: 8px 0; /* padding up/bottom = 8px, l/r = 0 */
}
.breadcrumb li+li:before {
    padding: 0 5px; /* padding up/bottom = 0, l/r = 5px */
    content: "/"; /* before next li tag set / */
}
.breadcrumb .active {
    color: grey; /* color of object = grey */
}
.breadcrumb a {
    text-decoration: none; /* hide text-decoration */
    color: #337ab7; /* color of object = shade of blue */
}
/* Breadcrumb END*/

/*Block with "Рядом с нами"*/
.advantage-item {
    margin-bottom: 20px; /* margin-bottom = 20px */
}
.advantages .thumbnail {
    height: 100%; /* height of object = 100% in block */
    margin-bottom: 0; /* margin-bottom = 0 */
}
/*End BLock*/

/*Navigation bat on the top of the site*/
/*Main navbar zone with row position of each item*/
.navbar {
    display: block; /* display block */
    padding: 0; /* padding all = 0px */
    overflow: hidden; /* hide text which is not in block */
    background-color: #f8f8f8; /* color = white */
    border: 1px solid #e7e7e7; /* border around 1px, line, white */
    position: fixed; /* position of object fixed */
    z-index: 1; /* set flow of z-index = 1*/
    top: 0; /* start object with top 0 */
    width: 100%; /* width of object = 100% of current block */
}
/*Container in navbar with items and icon brand*/
.navbar .container{
    padding: 0; /* padding around = 0px */
}
/*Icon brand*/
.navbar-brand {
    padding: 5px 15px; /* padding u/b = 5px, l/r = 15px */
}
/*image of the brand*/
.navbar-brand>img {
    width: 145px; /* width object 145px */
    max-height: 40px; /* max-height = 40 px */
}
/*icon brand END*/

/*list of the website pages*/
.navbar li {
    list-style-type: none; /* delete symbol of each list element */
    text-align: center; /* set text on center of block */
    padding: 15px 15px; /* padding u/b/l/r = 15px */
}
/*links of each website pages*/
.navbar a {
    color: #555; /* color object = shade of gray */
    text-align: center; /* text set on center position */
    padding: 16px 15px; /* padding u/b = 16px, l/r = 15px */
    text-decoration: none; /* hide text decoration */
}
/*if on current page change background*/
.navbar a.active{
    background-color: #e7e7e7; /* back color = white */
}
/*if hovering in navbar item change color*/
.navbar a:hover {
    color: black; /* object color = black */
}
/*NavBar END*/

/*picture with link to app*/
a .imgStore{
    display: inline-block; /* set objects by line */
    text-decoration: none; /* hide text-decoration */
    max-width: 114px; /* max-width 114px */
    max-height: 34px; /* max-height 34px */
}
.info .imgStore {
    float: right; /* float object to the right */
}
.imgFloatRight {
    float: right; /* float object to the right */
    margin: 0 0 15px 15px; /* margin u/r = 0, b/l = 15px */
}
/*button with link to "о нас" page*/

.btn-primary {
    color: #fff; /* color object white */
    background-color: #337ab7; /* back color shade blue */
    border-color: #2e6da4; /* border color shade blue */
}

.thumbnail {
    display: block; /* display objects as block */
    padding: 4px; /* padding around 4px */
    width: 360px; /* width 360px */
    height: 444px; /* height 444px */
    margin-bottom: 20px; /* margin-bottom = 20px */
    line-height: 1.42; /* line-height = current * 1.42 */
    background-color: #fff; /* back color = white */
    border: 1px solid #ddd; /* border around block 1px, line, white */
    border-radius: 4px; /* border radius = 4px */
    -webkit-transition: border .2s ease-in-out; /* chrome transition .2s fast at start and end */
    -o-transition: border .2s ease-in-out; /* opera transition .2s fast at start and end  */
    transition: border .2s ease-in-out; /* default transition .2s fast at start and end  */
}
/*Image display*/
.img-responsive {
    width: 350px; /* width 350px */
    height: 210px; /* height 210px */
}
.img-thumbnail {
    display: inline-block; /* set blocks in line */
    max-width: 100%; /* max-width 100% of current block */
    height: auto; /* set height auto */
    padding: 4px; /* padding around 4px */
    line-height: 1.42857143; /* current fontsize * 1.42857143 */
    background-color: #fff; /* back color = white */
    border: 1px solid #ddd; /* border 1px, line, white */
    border-radius: 4px; /* border radius 4px */
    -webkit-transition: all .2s ease-in-out; /* chrome transition .2s fast at start and end  */
    -o-transition: all .2s ease-in-out; /* opera transition .2s fast at start and end  */
    transition: all .2s ease-in-out; /* default transition .2s fast at start and end  */
}
.services img {
    width: 100%; /* width 100% of current block */
    height: 300px; /* height 300px */
    object-fit: cover; /* set image by width block, cut up and down */
}
.about img {
    max-width: 250px; /* max-width 250px */
}
/*Image display end*/

.caption {
    padding: 9px; /* padding around 9px */
}

/*Map size*/
.map {
    width: 100%; /* width 100% of current block */
    height: 800px; /* height 800px */
}

/* About page gallery*/
.about img {
    max-width: 250px; /* max-width 250px*/
}
.gallery .item {
    margin-bottom: 30px; /* margin-bottom = 30px */
}
/*img cover by width, height is cut*/
.gallery img {
    width: 100%; /* width 100% of current block */
    height: 250px; /* height 250px */
    object-fit: cover; /* set image by width block, cut up and down */
    cursor: pointer; /* set pointer cursor when hover on image */
}
/* About page END */

/* Service page */
.services .row {
    margin-bottom: 30px; /* margin bottom = 30px */
}
.services .row:first-child {
    margin-bottom: 0; /* margin bottom = 0px */
}
.services img {
    width: 100%; /* width 100% of current block */
    height: 300px; /* height 300px */
    object-fit: cover; /* set image by width block, cut up and down */
}
/* Service page END */

/*Footer*/
.footer {
    position: absolute; /* set position absolute and eject block from current line */
    bottom: 0; /* start block at bottom */
    width: 100%; /* width 100% of current block */
    height: 60px; /* heght 60px */
    background-color: #f8f8f8; /* back color = white */
    border-top: 1px solid #e7e7e7; /* set borger-top 1px, line white */
}
.footer p {
    margin: 20px 0; /* margin u/b = 20px, l/r = 0  */
}
.footer a {
    text-decoration: none; /* hide text-decoration */
    color: #337ab7; /* color of object shade of blue */
}
/*Footer END*/