{% extends 'admin_panel/base/base.html' %}
{% load static %}

{% block title %} <h1 class="m-0">About page</h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
        <li class="breadcrumb-item active"> Редактирование страницы</li>
    </ul>
{% endblock %}

{% block content %}
<form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <!-- Message if all saved -->
    {% if messages %}
         {% for message in messages %}
             <ul class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </ul>
         {% endfor %}
    {% endif %}

    <!-- Information form -->
    <h3 class="title-block">Информация</h3>
    <hr>
    <div class="row">
        <div class='col-lg-8'>
            {{ about_form.media }}
            <p>
            <label>{{ about_form.title.label_tag }}</label>
            {{ about_form.title }}
            </p>
            <p>
            <label>{{ about_form.short_text.label_tag }}</label>
            {{ about_form.short_text }}
            </p>
        </div>
        <div class='col-lg-2'>
            {% if about_page.image.url %}
                <img class="img-fluid" src="{{ about_page.image.url }}" alt="{{ about_page.image }}" style="height: 310px; display: block;">
            {% else %}
                <img class="img-fluid" src="{% static 'admin_panel/img/avatar5.png' %}" alt="Empty" style="height: 310px; display: block;">
            {% endif %}
            <label>{{ about_form.image.label_tag }}</label>
            {{ about_form.image }}
        </div>
    </div>

    <!-- Gallery -->
    {{ gallery_formset.management_form }}
    <h3 class="title-block">Фотогалерея</h3>
    <hr>
    <div class="row">
    {% for form in gallery_formset %}
    <div class='card shadow-sm'>
        <div class="card-header">
            <img id="image{{forloop.counter}}" class="img-fluid" src="/media/{{form.image.value}}" alt="{{form.image.value}}" style="height: 150px; width: 168px; display: block; margin: auto;">
        </div>
        <div class="card-body">
            {{ form }}
        </div>
    </div>
    {% endfor %}
    </div>

    <!-- Extra information -->
    <h3>Дополнительная информация</h3>
    <hr>
    {{ extra_info_formset.management_form }}
    {% for form in extra_info_formset %}
    <div class="row">
        <div class='col-lg-12'>
            {{ form.as_p }}
        </div>
    </div>
    {% endfor %}

    <!-- Extra gallery -->
    {{ extra_gallery_formset.management_form }}
    <h3 class="title-block">Дополнительная фотогалерея</h3>
    <hr>
    <div class="row">
    {% for form in extra_gallery_formset %}
    <div class='card shadow-sm'>
        <div class="card-header">
            <img id="image{{forloop.counter}}" class="img-fluid" src="/media/{{form.image.value}}" alt="{{form.image.value}}" style="height: 150px; width: 168px; display: block; margin: auto;">
        </div>
        <div class="card-body">
            {{ form }}
        </div>
    </div>
    {% endfor %}
    </div>

    <!-- Documents -->
    {{ extra_document_formset.management_form }}
    <h3 class="title-block">Документы</h3>
    <hr>

    <!-- Display existing documents -->
    {% for document in documents %}
        <p>File: {{ document.name }}</p>
        <object data="{{ document.document.url }}" type="application/pdf">
            <iframe src="https://docs.google.com/viewer?url={{ document.document.url }}&embedded=true"></iframe>
{#        <iframe src="{{ document.document.url }}" width="500px" height="700px"></iframe>#}
        </object>

    {% endfor %}

    {% for form in extra_document_formset %}
    <div class="row">
    <div class='col-sm-2'>
        {{ form }}
    </div>
    </div>
    {% endfor %}

    <!-- Add new document -->
    <button class="btn btn-success">Добавить документ</button>

    <!-- SEO form -->
    <h3 class="title-block">Настройки SEO</h3>
    <hr>
    {{ seo_form }}
    <div class="col-xs-12 text-center">
        <div class="form-group">
            <a href="{% url 'admin_panel:statistics' %}" class="btn btn-default">Отменить</a>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </div>
    
</form>
{% endblock content %}