{% extends 'admin_panel/base/base.html' %}
{% load static %}

{% block title %} <h1 class="m-0">Главная страница</h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
        <li class="breadcrumb-item active"> Редактирование страницы</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="box-header with-border">
        <h3 class="box-title">Редактирование страницы "Главная"</h3>
        <div class="box-tools">
            <a href="#" class="btn btn-default btn-sm updateSeoFiles">
                <span class="hidden-xs">Обновить robots и sitemap</span>
                <i class="fa fa-refresh visible-xs" aria-hidden="true"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Message if all saved -->
    {% if messages %}
        {% for message in messages %}
            <ul class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </ul>
        {% endfor %}
    {% endif %}

<form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}

    <!-- Slider -->
    {{ slider_formset.management_form }}
    <h3 class="title-block">Слайдер</h3>
    <hr>
    <div class="row">
    {% for form in slider_formset %}
    <div class='col-md-4'>
        <div class='card mb-4 shadow-sm'>
            <div class="card-header">
                <h4 class="box-title">Слайд {{ forloop.counter }}
                <i class="fa fa-trash delete-form"></i> {{ form.DELETE }}
                </h4>
                <img class="img-fluid" {% if form.image.value %} src="/media/{{form.image.value}}" alt="{{form.image.value}}"
                {% else %} src="{% static 'admin_panel/img/default-1920x800.jpg'%}" alt="default_image" 
                {% endif %} style="height: 310px; display: block;">
                </div>
            <div class="card-body">
                {{ form.id }}
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

    <!-- Short info -->
    <h3 class="title-block">Краткая информация</h3>
    <hr>
    <div class="row">
        <div class='col-lg-12'>
            {{ index_form.media }}
            {{ index_form.as_p }}
            {{ index_form.errors }}
        </div>
    </div>

    <!-- Block form -->
    <h3 class="title-block">Рядом с нами</h3>
    <hr>
    {{ block_formset.management_form }}
    <div class="row">
        {% for form in block_formset %}
            <div class='col-md-4'>
                <div class='card mb-4 shadow-sm'>
                    <div class="card-header">
                        <h4 class="box-title">Блок {{ forloop.counter }}
                        <i class="fa fa-trash" id="delete-form"></i>
                        </h4>
                        {% if form.image.value %}
                            <img id="image{{forloop.counter0}}" class="img-fluid" src="/media/{{form.image.value}}" alt="{{form.image.value}}" style="height: 310px; display: block;">
                        {% else %}
                            <img id="image{{forloop.counter0}}" class="img-fluid" src="{% static 'admin_panel/img/default-1000x600.png' %}" alt="1000x600" style="height: 310px; display: block;">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {{ form }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- SEO form -->
    <h3 class="title-block">Настройки SEO</h3>
    <hr>
    {{ seo_form }}
    <div class="col-xs-12 text-center">
        <div class="form-group">
            <a href="{% url 'admin_panel:statistics' %}" class="btn btn-default">Отменить</a>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </div>
    
</form>
{% endblock content %}