{% extends 'admin_panel/base/base.html' %}
{% load static %}

{% block title %} <h1 class="m-0">Tariffs page</h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Main </a></li>
        <li class="breadcrumb-item active"> Editing page</li>
    </ul>
{% endblock %}

{% block content %}
    <form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <h3 class="title-block">Services</h3>
        <hr>
        {{ services_formset.management_form }}
        <div class="row">
        {% for form in services_formset %}
        <div class='col-md-3'>
            <div class='card mb-3 shadow-sm'>
                <div class="card-header">
                    <h4 class="box-title">Service {{ forloop.counter }}</h4>
                    {% if form.image.value %}
                        <img id="image{{forloop.counter0}}" class="img-fluid" src="/media/{{form.image.value}}" alt="{{form.image.value}}" style="height: 310px; display: block;">
                    {% else %}
                        <img id="image{{forloop.counter0}}" class="img-fluid" src="{% static 'admin_panel/img/default-650x300.png' %}" alt="650x300" style="height: 310px; display: block;">
                    {% endif %}
                    </div>
                <div class="card-body">
                    {{ form.as_p }}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>

        <h3 class="title-block">Settings SEO</h3>
        <hr>
        {{ seo_form.as_p }}
        <div class="col-xs-12 text-center">
            <div class="form-group">
                <a href="{% url 'admin_panel:statistics' %}" class="btn btn-default">Deny</a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
{% endblock content %}
