{% load static %}
<!DOCTYPE html>

<html lang="en" style="height: auto; min-height: 100%;">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="icon" type="image/png" href="http://myhouse24.avada-media.ua/favicon.png">
        {% block title %} {% endblock title %}
        <link rel="stylesheet" href="{% static 'admin_panel/css/adminlte.min.css' %}">
        <link rel="stylesheet" href="{% static 'register/css/styles.css' %}">
    </head>

    <body class="login-page" style="height: auto; min-height: 100%;">
        <div class="login-box">

            <div class="login-logo">
                <a href="{% url 'website:index' %}">
                    <img src="http://myhouse24.avada-media.ua/logo.svg" alt="logo">
                </a>
            </div>

            <div class="nav-tabs-custom">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>

<script>

</script>