{% extends 'website/base/base.html' %} {% load static %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box clearfix">
                        <div class="page-header">
                            <h1>{{ about_page.title }}</h1>
                        </div>
                        <img src="{{ about_page.image.url }}" class="img-responsive imgFloatRight" alt="{{ about_page.image }}">

                        {{ about_page.short_text|safe }}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery">
        <div class="container">
            <div class="row">
                {% for image in about_gallery %}
                <div class="col-xs-12 col-sm-6 col-md-3 item" data-src="/upload/WebsiteAboutImage/86/image.jpg">
                    <a href="#">
                        <img src="{{ image.image.url }}" alt="" class="img-responsive img-thumbnail">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box clearfix">
                        <div class="page-header">
                            <h3>{{ about_extra_info.title }}</h3>
                        </div>
                        {{ about_extra_info.short_text|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if about_extra_gallery %}
    <div class="gallery">
        <div class="container">
            <div class="row">
                {% for image in about_extra_gallery %}
                <div class="col-xs-12 col-sm-6 col-md-3 item" data-src="/upload/WebsiteAboutImage/86/image.jpg">
                    <a href="#">
                        <img src="{{ image.image.url }}" alt="" class="img-responsive img-thumbnail">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if about_documents %}
    <div class="documents">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="page-header">
                            <h3>Documents</h3>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <i class="far fa-file-pdf fa-3x"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ about_documents.name }}</h4>
                                <a href="{{ about_documents.document }}" download><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}