{% extends 'website/base/base.html' %} {% load static %}

{% block title %}Система "МойДом24" -  Услуги{% endblock %}

{% block content %}
    <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="">Главная</a></li>
                            <li class="active">Услуги</li>
                        </ol>
                    </div>
                </div>
            </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1 style="text-align: left">Наши услуги</h1>
                </div>
            </div>
        </div>
        {% for service in services_page.services.values %}
        <div class="services">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <img src="/media/{{ service.image }}" class="img-responsive img-thumbnail" alt="{{ service.image }}">
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="page-header">
                        <h3>{{ service.name }}</h3>
                    </div>
                    <p>{{ service.description|safe }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}