{% load static %}

<nav class="main-header navbar navbar-expand navbar-white navbar-light">

    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="sidebar-toggle nav-link top-bar expand" data-widget="pushmenu" role="button">
                <i class="fas fa-bars"></i>
            </a>
        </li>
    </ul>

    <div class="header-title">Панель администратора</div>

    <!-- NAVBAR on the top right of page with notification and profile -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <!-- Notifications -->
            <li class="dropdown notifications-menu">

                <!--Notifications of new users-->
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-child fa-lg"></i>
                    <span class="label label-warning">1</span>
                </a>

                <!--Dropdown menu of new users-->
                <ul class="dropdown-menu">
                    <li class="header">Новых пользователей: 1</li>
                        <li>

                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#" class="dropdown-item">
                                        Кузьменко Оксана Дмитриевна <!--<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>-->
                                    </a>
                                </li>
                            </ul>
                        </li>
                    <!--Link to list of all users-->

                    <li class="footer"><a href="{% url 'admin_panel:users_list' %}">Перейти в раздел пользователей</a></li>
                </ul>
            </li>

            <!-- User Account -->
            <li class="dropdown user user-menu">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <!--<img src="/admin/dist/img/user2-160x160.jpg" class="user-image" alt="admin admin">-->
                    <i class="fa fa-user-circle text-purple"></i>
                    <span class="hidden-xs">{{ request.user }}</span>
                </a>
                <ul class="dropdown-menu">
                
                    <!-- User image -->
                    <li class="user-header">
                        {% if request.user.image %}
                            <img src="{{ request.user.image.url }}" class="img-circle" alt="admin admin">
                        {% else %}
                            <span><i class="fa fa-user-circle text-purple bg-gray-light img-circle"></i></span>
                        {% endif %}
                        <p> {{ request.user.full_name }} </p>
                        <p>({{ request.user.role }})</p>
                    </li>

                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a class="btn btn-default btn-flat" href="#">Профиль</a>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-default btn-flat" href="{% url 'admin_panel:admin_logout' %}" data-method="post">Выход</a>
                        </div>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
    
</nav>