{% load static %}

    <aside class="main-sidebar sidebar-light-primary">

        <!-- Logo -->
        <a href="/admin/" class="logo">
{#            <span class="logo-mini">#}
{#                <img src="/logo-mini.svg" class="img-responsive" alt="">#}
{#            </span>#}
            <span class="logo-lg">
                <img src="{% static 'logo/logo.svg' %}" class="img-responsive" alt="">
            </span>
        </a>
        <!-- Logo -->

        <!--SIDEBAR with all links to pages of admin_panel-->
        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="top: -8px">
                <li class="nav-item">
                    
                    <!--Link to current page-->
                    <a href="{% url 'admin_panel:statistics' %}" class="nav-link">
                        
                        <!--Icon of page-->
                        <i class="fas fa-chart-line"></i>
                        
                        <!--Name of page-->
                        <p>Статистика</p>

                    </a>

                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_panel:account_transaction_list' %}" class="nav-link">
                        <i class="fas fa-dollar-sign"></i>
                        <p>Каса</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_panel:invoice_list' %}" class="nav-link">
                        <i class="far fa-copy"></i>
                        <p>Квитанции</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_panel:account_list' %}" class="nav-link">
                        <i class="far fa-credit-card"></i>
                        <p>Лицевые счета</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_panel:flat_list' %}" class="nav-link">
                        <i class="fas fa-key"></i>
                        <p>Квартиры</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_panel:user_list' %}" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>Владельцы квартир</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_panel:house_list' %}" class="nav-link">
                        <i class="fas fa-building"></i>
                        <p>Дома</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_panel:message_list' %}" class="nav-link">
                        <i class="far fa-envelope"></i>
                        <p>Сообщения</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_panel:master_request_list' %}" class="nav-link">
                        <i class="fas fa-wrench"></i>
                        <p>Заявки вызова мастера</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_panel:meter_readings_list' %}" class="nav-link">
                        <i class="fas fa-tachometer-alt"></i>
                        <p>Показания счетчиков</p>
                    </a>
                </li>
                <li class="nav-item menu">
                    <a href="" class="nav-link">
                        <i class="fas fa-desktop"></i>
                        <p>Управление сайтом<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">

                        <!--BURGER of website pages-->
                        <li class="nav-item">
                            <a href="{% url 'admin_panel:index' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Главная</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_panel:about' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>О нас</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_panel:services' %}" class="nav-link">
                        <!--BURGER of system settings-->        <i class="far fa-circle nav-icon"></i>
                                <p>Услуги</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_panel:contacts' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Контакты</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item menu">
                    <a href="" class="nav-link">
                        <i class="fas fa-cogs"></i>
                        <p>Настройки системы<i class="right fas fa-angle-left"></i></p>
                    </a>

                    <!--BURGER of system settings-->
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin_panel:service_list' %}" class="nav-link">
                                <i class="fas fa-briefcase"></i>
                                <p>Услуги</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_panel:tariff_list' %}" class="nav-link">
                                <i class="far fa-money-bill-alt"></i>
                                <p>Тарифы</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_panel:role_list' %}" class="nav-link">
                                <i class="fas fa-user"></i>
                                <p>Роли</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_panel:user_admin_list' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p>Пользователи</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_panel:pay_company' %}" class="nav-link">
                                <i class="far fa-credit-card"></i>
                                <p>Плетежные реквизиты</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_panel:transaction_purpose_list' %}" class="nav-link">
                                <i class="fas fa-list-ol"></i>
                                <p>Статьи платежей</p>
                            </a>
                        </li>
                    </ul>
                    <!--BURGER of system settings-->
                </li>
                </ul>
            </nav>
        </div>
        <!--SIDEBAR with all links to pages of admin_panel-->
    </aside>