{% extends 'admin_panel/base/base.html' %}
{% load static %}

{% block title %} <h1 class="m-0">Новый владелец</h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:users_list' %}">Владельцы квартир</a></li>
        <li class="breadcrumb-item active"> Новый владелец </li>
    </ul>
{% endblock %}

{% block content %}
    <!-- Message if all saved -->
    {% if messages %}
         {% for message in messages %}
             <ul class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </ul>
         {% endfor %}
    {% endif %}
    <form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="userAvatar">
                    <img class="img-circle pull-left img-responsive" src="{% static 'default_profile_image.png' %}">
                    <div>
                        {{ user_form.image.label_tag }}<br>
                        {{ user_form.image }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label>Статус</label>
                {{ user_form.status }}
            </div>
            <div class="col-xs-12 col-sm-6">
                <label>Фамилия</label>
                {{ user_form.first_name }}
                <label>Имя</label>
                {{ user_form.last_name }}
                <label>Отчество</label>
                {{ user_form.middle_name }}
                <label>Дата рождения</label>
                {{ user_form.birth_date }}
            </div>
            <div class="col-xs-6 col-sm-6">
                <label>О владельце (заметки)</label>
                {{ user_form.notes }}
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2 class="page-header">Контактные данные</h2>
                <label>Телефон</label>
                {{ user_form.phone }}
                <label>Viber</label>
                {{ user_form.viber }}
                <label>Telegram</label>
                {{ user_form.telegram }}
                <label>Email</label>
                {{ user_form.email }}
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2 class="page-header">Изменить пароль</h2>
                <label>Пароль</label>
                {{ user_form.password }}
            </div>
        </div>
        <div class="col-xs-12 text-center" style="padding: 10px 0 0 0">
            <div class="form-group">
                <a href="{% url 'admin_panel:users_list' %}" class="btn btn-default">Отменить</a>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </form>
{% endblock content %}