{% extends 'admin_panel/base/base.html' %}
{% load static %}

{% block title %} <h1 class="m-0">Профиль владельца</h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:users_list' %}">Владельцы квартир</a></li>
        <li class="breadcrumb-item">Профиль владельца</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <a href="{% url 'admin_panel:user_update' user_form.id %}" class="btn btn-primary btn-sm float-right">
                <i class="fas fa-pencil-alt"></i>
                Редактировать владельца
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="userAvatar">
        <img class="img-circle pull-left img-responsive"
             {% if user_form.image %}
                src="{{ user_form.image.url }}"
             {% else %}
                src="{% static 'default_profile_image.png' %}"
            {% endif %}>
    </div>
    <form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <table class="table table-bordered table-striped">
            <tr>
                <td>Статус</td>
                {% if user_form.status == 'Активен' %}
                    <td style="color: #00ba13"><small class="label label-success">{{ user_form.status }}</small></td>
                {% elif user_form.status == 'Новый' %}
                    <td style="color: #00ba13"><small class="label label-warning">{{ user_form.status }}</small></td>
                {% elif user_form.status == 'Отключен' %}
                    <td style="color: #00ba13"><small class="label label-danger">{{ user_form.status }}</small></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>ID</td>
                <td>{{ user_form.id }}</td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td>{{ user_form.last_name }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ user_form.first_name }}</td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td>{{ user_form.middle_name }}</td>
            </tr>
            <tr>
                <td>Дата рождения</td>
                <td>{{ user_form.birth_date }}</td>
            </tr>
            <tr>
                <td>О владельце (заметки)</td>
                <td>{{ user_form.notes }}</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>{{ user_form.phone }}</td>
            </tr>
            <tr>
                <td>Вайбер</td>
                <td>{{ user_form.viber }}</td>
            </tr>
            <tr>
                <td>Телеграм</td>
                <td>{{ user_form.telegram }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user_form.email }}</td>
            </tr>
        </table>
        {% if user_form.flats.all %}
            <h4>Квартиры</h4>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="width: 40px; min-width: 40px">#</th>
                        <th scope="col">Дом</th>
                        <th scope="col">Секция</th>
                        <th scope="col">Квартира</th>
                        <th scope="col">Лицевой счет</th>
                    </tr>
                </thead>
                <tbody>
                {% for flat in user_form.flats.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'admin_panel:house_detail' flat.house.id %}">{{ flat.house }}</a></td>
                        <td>{{ flat.section }}</td>
                        <td><a href="{% url 'admin_panel:flat_detail' flat.id %}">{{ flat.number }}</a></td>
                        <td><a href="{% url 'admin_panel:account_detail' flat.account.id %}">{{ flat.account }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <div class="col-xs-12 text-center">
            <div class="form-group">
                <a href="{% url 'admin_panel:users_list' %}" class="btn btn-default">Отменить</a>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </form>
{% endblock content %}