{% extends 'admin_panel/base/base.html' %}
{% load static %}

{% block title %} <h1 class="m-0">Пользователи</h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:users_admin_list' %}">Пользователи</a></li>
        <li class="breadcrumb-item">Пользователь</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <a href="{% url 'admin_panel:user_admin_update' user_admin.id %}" class="btn btn-primary btn-sm float-right">
                <i class="fas fa-pencil-alt"></i>
                Редактировать пользователя
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="row" style="margin: 0 0 0 20px">
        <div class="col-xs-12 col-log-4">
            <table class="table table-bordered table-striped">
            <tr>
                <td>Пользователь</td>
                <td>{{ user_admin.full_name }}</td>
            </tr>
            <tr>
                <td>Роль</td>
                <td>{{ user_admin.role }}</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>{{ user_admin.phone }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user_admin.email }}</td>
            </tr>
            <tr>
                <td>Статус</td>
                {% if user_admin.status == 'Активен' %}
                    <td style="color: #00ba13"><small class="label label-success">{{ user_admin.status }}</small></td>
                {% elif user_admin.status == 'Новый' %}
                    <td style="color: #00ba13"><small class="label label-warning">{{ user_admin.status }}</small></td>
                {% elif user_admin.status == 'Отключен' %}
                    <td style="color: #00ba13"><small class="label label-danger">{{ user_admin.status }}</small></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        </table>
        </div>
    </div>
    </form>
{% endblock content %}