{% extends 'admin_panel/base/base.html' %}
{% load static %}
{% block title %} <h1 class="m-0">Сообщения</h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
        <li class="breadcrumb-item active"> Сообщения </li>
    </ul>
{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
             <ul class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </ul>
         {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right margin-bottom" style="float: right">
                <a class="btn btn-success" href="{% url 'admin_panel:message_create' %}">
                    Отправить сообщение
                </a>
            </div>
        </div>
    </div>

    <div class="col-3 margin-bottom pull-right">
        <input type="text" name="message_search" value="" class="form-control input-sm" placeholder="Поиск">
    </div>

    {% if messages_list %}
        <form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <table class="table table-bordered table-hover table-striped linkedRow">
                <thead>
                    <div class="mailbox-controls">
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                            <i class="far fa-square"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm delete-many">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <div class="pull-right"></div>
                    </div>
                    <tr>
                        <th style="width: 40px; min-width: 40px">
                            <input type="checkbox" name="select-all" id="select-all">
                        </th>
                        <th>Получатели</th>
                        <th>Текст</th>
                        <th style="width: 120px">Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in messages_list %}
                        <tr>
                            <td><input type="checkbox"  name="checks" value="{{field.id}}">
                            <td onclick="location.href='{% url 'admin_panel:message_detail' field.pk %}'">{{ field.recipient }}</td>
                            <td onclick="location.href='{% url 'admin_panel:message_detail' field.pk %}'">{{ field.get_short_message|striptags|truncatechars:50 }}</td>
                            <td onclick="location.href='{% url 'admin_panel:message_detail' field.pk %}'" style="min-width: 180px">{{ field.created_date|date:"d.m.Y - H:i" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    {% else %}
        <h2 class="text-center">Список сообщений пуст!</h2>
    {% endif %}


{% endblock content %}