{% extends 'admin_panel/base/base.html' %}
{% load static %}
{% block title %} <h1 class="m-0">Лицевые счета</h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
        <li class="breadcrumb-item active">Платежи</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="row" style="margin: 5px 0 0 10px">
        <div class="col-xs-12 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>number грн</h3>
                            <p>Состояние кассы</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>number грн</h3>
                            <p>Баланс по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>number грн</h3>
                            <p>Задолженность по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="dropdown pull-right">
                <div class="dropdown pull-right margin-bottom" style="float: right">
                    <button class="dropdown-toggle btn btn-success" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Выберите действие</button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'admin_panel:account_transaction_create_in' %}">Создать приход</a></li>
                        <li><a href="{% url 'admin_panel:account_transaction_create_out' %}">Создать расход</a></li>
                        <li><a href="">Выгрузить в Excel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
             <ul class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </ul>
         {% endfor %}
    {% endif %}

    <form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% if account_transactions_list %}
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th style="width: 125px; min-width: 125px">№</th>
                    <th style="width: 100px; min-width: 100px">Дата</th>
                    <th style="width: 150px; min-width: 150px">Статус</th>
                    <th style="min-width: 200px">Тип платежа</th>
                    <th style="width: 160px; min-width: 65px">Владелец</th>
                    <th style="min-width: 200px">Лицевой счет</th>
                    <th style="width: 120px; min-width: 120px">Приход/расход</th>
                    <th style="width: 120px; min-width: 120px">Сумма(грн)</th>
                    <th style="width: 80px; min-width: 80px">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for field in account_transactions_list %}
                    <tr>
                        <td onclick="location.href='{% url 'admin_panel:account_transaction_detail' field.pk %}'">
                            {{ field.number }}
                        </td>
                        <td onclick="location.href='{% url 'admin_panel:account_transaction_detail' field.pk %}'">
                            {{ field.created_date.date }}
                        </td>
                        <td onclick="location.href='{% url 'admin_panel:account_transaction_detail' field.pk %}'">
                            {% if field.confirm %}
                                Проведен
                            {% else %}
                                Не проведен
                            {% endif %}
                        </td>
                        <td onclick="location.href='{% url 'admin_panel:account_transaction_detail' field.pk %}'">
                            {{ field.transaction|truncatechars:50 }}
                        </td>
                        <td onclick="location.href='{% url 'admin_panel:account_transaction_detail' field.pk %}'">
                            {{ field.owner|truncatechars:50 }}
                        </td>
                        <td onclick="location.href='{% url 'admin_panel:account_transaction_detail' field.pk %}'">
                            {{ field.account|truncatechars:50 }}
                        </td>
                        <td onclick="location.href='{% url 'admin_panel:account_transaction_detail' field.pk %}'">
                            {% if field.type == 'Приход' %}
                                <span style="color: #00a65a">{{ field.type|truncatechars:50 }}</span>
                            {% else %}
                                <span style="color: #dd4b39">{{ field.type|truncatechars:50 }}</span>
                            {% endif %}
                        </td>
                        <td onclick="location.href='{% url 'admin_panel:account_transaction_detail' field.pk %}'">
                            {% if field.type == 'Приход' %}
                                <span style="color: #00a65a">{{ field.total|truncatechars:50 }}</span>
                            {% else %}
                                <span style="color: #dd4b39">{{ field.total|truncatechars:50 }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group ">
                                <a class="btn btn-default btn-sm" href="{% url 'admin_panel:account_transaction_update' field.pk %}" title="Редактировать">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-default btn-sm" href="{% url 'admin_panel:account_delete' field.pk %}" title="Удалить">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="box-footer">
            <div>Проведен приход: <span class="text-bold">{{ total_income }} грн.</span></div>
            <div>Проведен расход: <span class="text-bold">{{ total_expenditure }} грн.</span></div>
        </div>
    {% else %}
        <h2 class="text-center">Список ведомостей пуст!</h2>
    {% endif %}
    </form>
{% endblock content %}