{% extends 'register/base/base.html' %}

{% block title %}
    <title> Вход </title>
{% endblock %}

{% block content %}

    <ul class="nav nav-tabs nav-tabs-custom" id="myTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="services-tab" data-toggle="tab" href="{% url 'personal_cabinet:user_login' %}" role="tab">Для жильца</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="metric-tab" data-toggle="tab" href="{% url 'admin_panel:admin_login' %}" role="tab">Для администрации</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="users" role="tabpanel">
            <div class="login-box-body">
                <form class="form" method="post">{% csrf_token %}
                    <p class="login-box-msg">Вход в личный кабинет</p>
                    <!-- Message if all saved -->
                    {% if messages %}
                         {% for message in messages %}
                             <ul class="text-center alert alert-{{ message.tags }}">
                                {{ message|safe }}
                            </ul>
                         {% endfor %}
                    {% endif %}
                    <input class="form-control" type="email" name="email" placeholder="E-mail или ID" required><br>
                    <input class="form-control" type="password" name="password" placeholder="Пароль" required><br>

                    {% for field in login_form %}
                        <p>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                        {% if login_form.non_field_errors %}
                            <div style="color: red">
                                <p>{{ login_form.non_field_errors }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div>Captcha</div>

                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkbox icheck">
                                <input type="checkbox" name="LoginForm[rememberMe]" value="0">
                                <label class="" style="position: relative">Запомнить меня</label><br>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary btn-block" name="login-button">Вход</button>
                        </div>
                    </div>
                    <a href="{% url 'personal_cabinet:user_register' %}" class="text-center">Зарегистрироваться</a>
                </form>
            </div>
        </div>

    </div>
{% endblock %}