{% extends 'admin_panel/base/base.html' %} {% load static %} {% block title %}
<h1 class="m-0">Services page</h1> {% endblock %} {% block breadcrumb %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
    <li class="breadcrumb-item active"> Редактирование ед. изм.</li>
</ul>
{% endblock %} {% block content %}

<form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}

    {% if messages %}
         {% for message in messages %}
             <ul class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
             </ul>
         {% endfor %}
    {% endif %}

    <!-- Service form -->
    <h3 class="title-block">Единицы измерения</h3>
    <div class="row">
        <div class="col-xs-12 col-lg-7">
            <hr>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="services-tab" data-toggle="tab" href="{% url 'admin_panel:services_list' %}" role="tab">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="metric-tab" data-toggle="tab" href="#metric" role="tab">Единицы измерения</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="services" role="tabpanel">
                </div>
                <div class="tab-pane fade show active" id="metric" role="tabpanel">
                    {{ metrics_formset.management_form }}
                    {% for metric_form in metrics_formset %}{{ metric_form.id }}
                    <div class="form">
                        {{ metric_form.name.label_tag }}
                        {{ metric_form.name }}
                        <span class="input-group-btn">
                            <button type="button" class="btn col-xs-12 btn-default form-row-remove-btn disabled">
                                <i class="fa fa-trash"></i>
                                <span hidden>{{ metric_form.DELETE }}</span>
                            </button>
                        </span>
                    </div>
                    {% endfor %}
                <a id="addNewForm" class="btn btn-default bg-green-active form-row-add-websiteservice-btn">Добавить</a>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="col-xs-12 text-center">
        <div class="form-group">
            <a href="{% url 'admin_panel:statistics' %}" class="btn btn-default">Отменить</a>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </div>

</form>
{% endblock content %}