{% extends 'admin_panel/base/base.html' %} {% load static %} {% block title %}
<h1 class="m-0">Редактирование услуг</h1> {% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
    <li class="breadcrumb-item active"> Редактирование услуг</li>
</ul>
{% endblock %}

{% block content %}

    {% if messages %}
         {% for message in messages %}
             <ul class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
             </ul>
         {% endfor %}
    {% endif %}

<form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <!-- Service form -->
    <h3 class="title-block">Услуги</h3>
    <div class="row">
        <div class="col-xs-12 col-lg-7">
            <hr>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="services-tab" data-toggle="tab" href="#services" role="tab" style="color: #444">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="metric-tab" data-toggle="tab" href="{% url 'admin_panel:metrics_list' %}" role="tab" style="color: #444">Единицы измерения</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="services" role="tabpanel">
                    <div class="row">
                        {{ service_formset.management_form }}
                        {% for form in service_formset %}
                            {{ form.id }}
                            <div class="form col-12 row">
                                <div class="col-md-7">
                                    {{ form.name.label_tag }}
                                    {{ form.name }}
                                </div>

                                <div class="col-md-5">
                                    {{ form.metric.label_tag }}
                                    <div class="input-group">
                                        {{ form.metric }}
                                        <div class="input-group-addon btn col-xs-12 btn-default  delete-form">
                                            <i class="fa fa-trash"></i>
                                            <span class="check_delete" hidden>
                                                {{ metric_form.DELETE }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    {{ form.show_in_meter_reading.label_tag }}
                                    {{ form.show_in_meter_reading }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a id="addNewForm" class="btn btn-default">Добавить</a>
                </div>
                <div class="tab-pane fade" id="metric" role="tabpanel">
                </div>
            </div>
            <hr>
            <div class="col-xs-12 text-center">
                <div class="form-group">
                    <a href="{% url 'admin_panel:services_list' %}" class="btn btn-default">Отменить</a>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'admin_panel/js/add_delete_forms.js' %}"></script>
<script>
    const prefix = "form";
    const form_class = ".form";
    const image = undefined;
    const index_class = undefined;
    const default_image = undefined;

    // after rendering page set hidden form
    $("document").ready(function () {
        addHiddenForm(prefix, form_class);
    });
    // if clicked trash icon than delete current form
    $(".delete-form").click(function (e) {
        deleteForm(e, prefix, form_class, index_class);
    });
    //if clicked add new form form button than add new form
    $("#addNewForm").click(function () {
        addNewForm(prefix, form_class, index_class);
    });

</script>
{% endblock scripts %}