{% extends 'admin_panel/base/base.html' %}
{% load static %}

{% block title %} <h1 class="m-0">Новая квартира</h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:flats_list' %}">Квартиры</a></li>
        <li class="breadcrumb-item active"> Новая квартира </li>
    </ul>
{% endblock %}

{% block content %}
    <!-- Message if all saved -->
    {% if messages %}
         {% for message in messages %}
             <ul class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </ul>
         {% endfor %}
    {% endif %}

    {% if account_form.errors %}
        <p>NOT VALID</p>
        {% for error in account_form.errors %}
            {{ error  }}<br>
        {% endfor %}
    {% endif %}

    <form class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <p>{{ flat_form.number.label_tag }}</p>
                <p>{{ flat_form.number }}</p>
                <p>{{ flat_form.area.label_tag }}</p>
                <p>{{ flat_form.area }}</p>
                <p>{{ flat_form.house.label_tag }}</p>
                <p>{{ flat_form.house }}</p>
                <p>{{ flat_form.section.label_tag }}</p>
                <p>{{ flat_form.section }}</p>
                <p>{{ flat_form.floor.label_tag }}</p>
                <p>{{ flat_form.floor }}</p>
                <p>{{ flat_form.owner.label_tag }}</p>
                <p>{{ flat_form.owner }}</p>
                <p>{{ flat_form.tariff.label_tag }}</p>
                <p>{{ flat_form.tariff }}</p>
            </div>
            <div class="col-lg-6">
                <p>{{ flat_form.account.label_tag }}</p>
                <input class="form-control" placeholder="I don`t work! :P">
                <p>{{ flat_form.account }}</p>
            </div>
            <div class="col-xs-12 text-right">
                <div class="form-group">
                    <a href="{% url 'admin_panel:flats_list' %}" class="btn btn-default">Отменить</a>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <input type="submit" class="btn btn-success" style="background-color: #1c7430" href="{% url 'admin_panel:flat_create' %}" value="Сохранить и добавить новую">
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'admin_panel/js/queryFiltering.js' %}"></script>

    <script type="text/javascript">
        let URLSection = '/api/section/?house='
        let URLFloor = "/api/floor/?house="

        $('#house').each(function() {
            $(this).on("change", function() {
                let item = $(this);
                let itemID = item.prop('value');
                if (itemID) {
                    $('#section').each(function() {
                        selectQuerySet(this, itemID, URLSection);
                    });
                    $('#floor').each(function() {
                        selectQuerySet(this, itemID, URLFloor);
                    });

                } else {
                    $('#section').each(function() {
                        emptySelect(this);
                    });
                    $('#floor').each(function() {
                        emptySelect(this);
                    });
                }
            });
        });
    </script>
{% endblock %}