{% extends 'admin_panel/base/base.html' %}
{% load static %}

{% block title %} <h1 class="m-0">Квартира №{{ flat_data.number }} </h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:flats_list' %}">Квартиры</a></li>
        <li class="breadcrumb-item active">Квартира №{{ flat_data.number }} </li>
    </ul>
{% endblock %}

{% block header %}

    <div class="box-header with-border">
        <h3 class="box-title">Просмотр квартиры</h3>
        <div class="box-tools">
            <a href="{% url 'admin_panel:flat_update' flat_data.id %}" class="btn btn-primary btn-sm float-right">
                <i class="fas fa-pencil-alt"></i>
                Редактировать квартиру
            </a>
            <a href="{% url 'admin_panel:statistics'%}" class="btn btn-default btn-sm float-right disabled">
                <i class="far fa-copy"></i>
                Оформить квитанцию
            </a>
            <a href="{% url 'admin_panel:statistics' %}" class="btn btn-default btn-sm float-right disabled">
                <i class="fas fa-dollar-sign"></i>
                Принять платеж
            </a>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between" style="padding: 0 10px">

    </div>
    <table class="table table-bordered table-striped table-view">
        <tr>
            <td>Лицевой счёт</td>
            <td>
                {% if flat_data.account %}
                <a href="{% url 'admin_panel:account_detail' flat_data.account.id %}">
                    {{ flat_data.account.number }}
                </a>
                {% else %}
                    (не задано)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Номер квартиры</td>
            <td>{{ flat_data.number }}</td>
        </tr>
        <tr>
            <td>Площадь</td>
            <td>
                {% if flat_data.floor %}
                    {{ flat_data.area }}м2
                {% else %}
                    (не задано)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Дом</td>
            <td><a href="{% url 'admin_panel:house_detail' flat_data.house.id %}">{{ flat_data.house}}</a></td>
        </tr>
        <tr>
            <td>Секция</td>
            <td>
                {% if flat_data.section %}
                    {{ flat_data.section }}
                {% else %}
                    (не задано)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Этаж</td>
            <td>
                {% if flat_data.floor %}
                    {{ flat_data.floor }}
                {% else %}
                    (не задано)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Владелец</td>
            <td>
                {% if flat_data.owner %}
                <a href="{% url 'admin_panel:user_detail' flat_data.owner.id %}">
                    {{ flat_data.owner.full_name }}
                </a>
                {% else %}
                    (не задано)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Тариф</td>
            <td>
                {% if flat_data.tariff %}
                <a href="{% url 'admin_panel:tariff_detail' flat_data.tariff.id %}">
                    {{ flat_data.tariff }}
                </a>
                {% else %}
                    (не задано)
                {% endif %}

            </td>
        </tr>
    </table>
    <div class="col">
        <a href="{% url 'admin_panel:counter_list' flat_data.pk %}">
            Посмотреть показания счётчиков
        </a>
    </div>
    <div class="col">
        <a href="#">Посмотреть приходы</a>
    </div>
    <div class="col">
        <a href="#">Посмотреть квитанции</a>
    </div>

    {% if tariff_service_list %}
    <div class="table-responsive no-padding margin-top-15">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Услуга</th>
                    <th>Ед. изм.</th>
                    <th>Цена за ед., грн</th>
                    <th>Валюта</th>
                </tr>
            </thead>
            <tbody>
                {{ tariff_service_formset.management_form }}
                {% for tariff_service in tariff_service_formset %}
                    <tr role="row">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ tariff_service.service }}</td>
                        <td>{{ tariff_service.metric }}</td>
                        <td>{{ tariff_service.price }}</td>
                        <td>{{ tariff_service.currency }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

{% endblock content %}

