{% extends 'admin_panel/base/base.html' %}
{% load static %}

{% block title %} <h1 class="m-0">{{ flat_data }} </h1> {% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:statistics' %}"><i class="fa fa-home"></i> Главная </a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin_panel:flats_list' %}">Квартиры</a></li>
        <li class="breadcrumb-item active">{{ flat_data }} </li>
    </ul>
{% endblock %}

{% block header %}

    <div class="box-header with-border">
        <h3 class="box-title">Просмотр квартиры</h3>
        <div class="box-tools">
            <a href="{% url 'admin_panel:flat_update' flat_data.id %}" class="btn btn-primary btn-sm float-right">
                <i class="fas fa-pencil-alt"></i>
                Редактировать квартиру
            </a>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between" style="padding: 0 10px">

    </div>
    <table class="table table-bordered table-striped table-view">
        <tr>
            <td>Лицевой счёт</td>
            <td>!!!Нет лицевого счёта!!!</td>
        </tr>
        <tr>
            <td>Номер квартиры</td>
            <td>{{ flat_data.number }}</td>
        </tr>
        <tr>
            <td>Площадь</td>
            <td>{{ flat_data.area }} м2</td>
        </tr>
        <tr>
            <td>Дом</td>
            <td><a href="{% url 'admin_panel:house_detail' flat_data.house.id%}">{{ flat_data.house}}</a></td>
        </tr>
        <tr>
            <td>Секция</td>
            <td>{{ flat_data.section }}</td>
        </tr>
        <tr>
            <td>Этаж</td>
            <td>{{ flat_data.floor }}</td>
        </tr>
        <tr>
            <td>Владелец</td>
            <td><a href="{% url 'admin_panel:user_detail' flat_data.owner.id%}">{{ flat_data.owner}}</a></td>
        </tr>
        <tr>
            <td>Тариф</td>
            <td><a href="{% url 'admin_panel:tariff_detail' flat_data.tariff.id%}">{{ flat_data.tariff }}</a></td>
        </tr>
    </table>
    <div class="col">
        <a href="#">Посмотреть показания счётчиков</a>
    </div>
    <div class="col">
        <a href="#">Посмотреть приходы</a>
    </div>
    <div class="col">
        <a href="#">Посмотреть квитанции</a>
    </div>

    {% if tariff_service_list %}
    <div class="table-responsive no-padding margin-top-15">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Услуга</th>
                    <th>Ед. изм.</th>
                    <th>Цена за ед., грн</th>
                    <th>Валюта</th>
                </tr>
            </thead>
            <tbody>
                {{ tariff_service_formset.management_form }}
                {% for tariff_service in tariff_service_formset %}
                    <tr role="row">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ tariff_service.service }}</td>
                        <td>{{ tariff_service.metric }}</td>
                        <td>{{ tariff_service.price }}</td>
                        <td>{{ tariff_service.currency }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

{% endblock content %}

